body{
    background-color: #3D087B;
    margin: 20px;
    border: 200px solid transparent;
    height: 90vh;
}
.clock{
    top: -150px;
    right: 100px;
    position: relative;
}
.time{
    width:500px;
    height: 200px;
    position: relative;
    top:-250px;
    left:550px;
}
.time2{
    background-color: #FFFFFF;
    opacity:0.2;
    border-radius: 10px;
    top: 30px;
    left: 50px;
    position: relative;
    width: 379px;
    height: 130px;
}
.time4{
    background-color: #FFFFFF;
    opacity:0.2;
    border-radius: 10px;
    top: -110px;
    left: 30px;
    position: relative;
    width: 419px;
    height: 130px; 
    z-index: 1;
}
.time5{
    width: 536px;
    height: 130px;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: -250px;
    left: -30px;
    position: relative;
}
.time7{
    width: 458px;
    height: 90px;
    background-color: #FFFFFF;
    top:20px;
    left: 30px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 10px;
}
.time7 > .one{
    font-size: 17px;
    font-weight: bolder;
    color: #3D087B;
    top: 15px;
    left: 5px;
    position: relative;
    margin-right: 20px;
    font-family: 'Manrope', sans-serif;
}
.time7 > .two{
    width: 70px;
    height: 65px;
    background-image: url(./timeline.svg);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: #3D087B;
    font-family:Arial, Helvetica, sans-serif
}
.time7 > .three{
    width: 70px;
    height: 62px;
    background-image: url(./AM_svg.svg);
    border-radius: 5px;
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 2px;
    letter-spacing: 2px;
}
.time7 > span{
    top:40px;
    position: relative;
}
.message{
    width: 180px;
    height: 65px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding:15px;
    padding-top:2px;
    top:-470px;
    left:270px;
    position: relative; 
}
.message > p{
    text-align: left;
    color:#858585; 
    font-size: 15px;  
}
.message::after{
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    top:40%;
    left:90%;
    margin-right: -25px;
    content: "";
    transform: rotate(45deg);
    background: #FFFFFF;
}
.icons{
    width: 530px;
    height: 320px;
    border: 1px solid black;
    padding: 30px;
    background-color: #FFFFFF;
    top:-400px;
    right: 150px;
    position: relative;
    border-radius: 10px;
    margin-left: 50px;
}
.icon1{
    width: 517px;
    height: 45px;
    background-color: #FFFFFF;
}
.icon1 > span{
    font-size: 15px;
    top:-14px;
    position: relative;
    padding-left:10px ;
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
}
.icon1 > select{
    width:260px;
    height: 40px;
    padding: 2px;
    left:50px;
    top:-8px;
    position: relative;
    letter-spacing: 1px;
    font-size: 12px;
    color: #3D087BDE;
    border: 1px solid #EDEDED;
}
.icon2{
    width: 517px;
    height: 45px;
    background-color: #FFFFFF;
}
.icon2 > span{
    font-size: 15px;
    top:-14px;
    position: relative;
    padding-left:10px ;
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
}
.icon2 > select{
    width:260px;
    height: 40px;
    padding: 2px;
    left:70px;
    top:-8px;
    position: relative;
    letter-spacing: 1px;
    font-size: 12px;
    color: #3D087BDE;
    border: 1px solid #EDEDED;
}
.icon3{
    width: 517px;
    height: 45px;
    background-color: #FFFFFF;
}
.icon3 > span{
    font-size: 15px;
    top:-14px;
    position: relative;
    padding-left:10px ;
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
}
.icon3 > select{
    width:260px;
    height: 40px;
    padding: 2px;
    left:80px;
    top:-8px;
    position: relative;
    letter-spacing: 1px;
    font-size: 12px;
    color: #3D087BDE;
    border: 1px solid #EDEDED;
}
.icon4{
    width: 517px;
    height: 45px;
    background-color: #FFFFFF;
}
.icon4 > span{
    font-size: 15px;
    top:-14px;
    position: relative;
    padding-left:10px ;
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
}
.icon4 > select{
    width:260px;
    height: 40px;
    padding: 2px;
    left:70px;
    top:-8px;
    position: relative;
    letter-spacing: 1px;
    font-size: 12px;
    color: #3D087BDE;
    border: 1px solid #EDEDED;
}
.emp1{
    width: 0;
    height: 45px;
    border: 1px solid;
    left:19px;
    position: relative;
    opacity: 0.2;
}
.grab{
    width: 492px;
    height: 70px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding:20px;
    padding-top: 2px;
    top:-750px;
    left:528px;
    position: relative; 
}
.grab > p{
    text-align: center;
    color:#8E53F0; 
    font-size: 25px; 
    font-weight: bolder; 
    font-family: 'Baumans', cursive;
    margin-top: 2px;
}
.component{
    top:-730px;
    left:528px;
    position: relative;
}
.wake{
     width: 575px;
     height: 65px;
     padding: 15px;
     background-color: #FFFFFF;
     opacity: 0.2;
     border:1px solid #EDEDED ;
     border-radius: 10px;
     left:-105px;
     top:-810px;
     position: relative;
}
.wake > h1{
    font-size: 30px;
    text-align: left;
    font-family: 'Baumans', cursive;
    margin-top: 4px;
    color: black
}
.alarm > button{
    width: 290px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    background: transparent linear-gradient(113deg, #6E54EC 20%, #CB52F8 40%, #FC5EFF 81%); 
    top:-795px;
    left:-105px;
    position: relative;
}
button > span{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
}
button:hover span{
    display: none;
}
button:hover::before{
    content: "Party Time";
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}
.note{ 
    width: 253px;
    height: 117px;
    background-color: #FFFFFF;
    opacity: 0.2;
    border-radius: 5px;
    border:1px solid #EDEDED;
    top:-849px;
    left:220px;
    position: relative;
    padding: 8px;
}
.note > p{
    color:black;
    font-size: 13px;
    font-weight: bolder;
    font-family: 'Manrope', sans-serif;
    margin-top: 2px;
}
